mixin song(rank, title, artist, cover)
    li(class='')
        div(class='card mb-3')
            div(class='row no-gutters')
                div(class='col-md-4')
                    if(cover)
                        img(src=cover class="card-img-top")
                    else
                        img(class="card-img-top")
                div(class='col-md-8')
                    div(class="card-body")
                        h6(class="card-title")=rank
                        p(class="card-text")=title
                        p(class="card-text")=artist

doctype html
html(lang='en')
    head
        include includes/header.pug
    body
        div(class='container')
            div(class='')
                h1=message
                ul
                    for item in songs
                        +song(item.rank, item.title, item.artist, item.cover)

    include includes/footer.pug
